@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Nunito Sans', sans-serif;
      background: linear-gradient(135deg, #ff9a9e, #c0d0d1, #e7bcdb, #ddc1e0, #c0dbe7, #ff9a9e);
      background-attachment: fixed;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
    }

    .container {
      max-width: 850px;
      margin: 50px auto;
      padding: 40px;
      background: white;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      margin-top: 100px;
      flex-grow: 1;
      width: 100%;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    input, button {
      padding: 10px;
      margin: 8px 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input {
      width: calc(100% - 30px);
    }

    button {
      background-color: #e67a95;
      color: white;
      font-weight: bold;
      cursor: pointer;
      display: block;
      margin-left: auto;
      margin-right: auto;
      transition: 0.3s ease;
    }

    button:hover {
      background-color: #ec5f82;
      transition: 1s;
    }

    table {
      width: 100%;
      margin-top: 30px;
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid #ccc;
    }

    th, td {
      padding: 12px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
    footer {
        bottom: 40px;
        text-align: center;
        color: #9e695c;
        font-weight: 700;
        margin-top: auto;
        padding: 20px 0; /* Adicione um pouco de padding para espaçamento */
        box-sizing: border-box; /* Garante que a padding não aumente a altura total */
    }